<style>
    .hoal {
        background-image: url(../img/fondogatitos.jpg);
        min-width: max-content;
        min-height: 90vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .welcome-message {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: #ffffff; /* Color claro */
        background: rgba(87, 1, 76, 0.5); /* Fondo semitransparente para mejor legibilidad */
        padding: 20px;
        border-radius: 10px;
    }

    .welcome-message h1 {
        margin: 0;
        padding: 0;
    }

    .welcome-message p {
        margin: 80px 0 0 0;
        font-weight: 600; /* Mayor peso de la fuente */
        font-size: 3em; /* Tamaño de fuente más grande */

    }
</style>

<div class="hoal">
    <section class="welcome-message">
        <h1>Bienvenidos a CrochetSM</h1>
        <p>Tu tienda de amigurumis, donde cada puntada crea una sonrisa.</p>
    </section>
</div>
